<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        $('form').submit(function(event){
            event.preventDefault()

            // do JWT create request
            // print out response somewhere
            $.post('/api/jwt/create/')
                .success(function(data) {
                    console.log("SUCCESS")
                    console.log(data)
                })
                .fail(function(some, handlers){
                    console.log(some)
                    console.log(handlers)
                })
        })
    })
</script>
<body>

<form>
    <input name="username">
    <input name="password" type="password">
    <input type="submit" value="Login">
</form>

</body>
</html>